// Logo div containers. The actual logos are applied by adding the respective classe to these
// div's in the HTML E.g.logo-chillisauce-white

.home-logo {
    width: 200px;
    height: 50px;
}

.footer-logo {
    width: 157px;
    height: 40px;
    margin: 0 auto;
}

