
// circle information
.circle-activity-off,
.circle-activity-on,
.circle-accommodation,
.circle-accommodation-off,
.circle-accommodation-on,
.circle-dates-off,
.circle-dates-on,
.circle-minibus-transfers {
	display: inline-block;
	width: 75px;
	height: 72px;
}



.icon-accommodation,
.icon-alert-dark,
.icon-alert {
	display: inline-block;
	width: 21px;
	height: 15px;
}


.icon-add
{
	width: 25px;
	height: 25px;
}

.icon-minibus-transfers,
.icon-time {
	width: 70px;
	height: 70px;
}

//signs
.icon-plus {
	width: 21px;
	height: 21px;
}

.icon-arrow-style-b-right-grey {
	width: 31px;
	height: 24px;
}

.icon-arrow-style-b-right {
	width: 12px;
	height: 9px;
}

.icon-arrow-style-c-top,
.icon-arrow-style-c-bottom,
.icon-calendar,
.icon-arrow-style-a {
	width: 35px;
	height: 35px;
}


.icon-arrow-style-f-up,
.icon-arrow-style-f-down,
.icon-pin-google-small,
.icon-pin-small {
	width: 16px;
	height: 16px;
}


//functionality
.icon-swap {
	width: 25px;
	height: 19px;
}

.icon-upgrade {
	width: 12px;
	height: 14px;
}



.icon-close-style-a {
	width: 11px;
	height: 11px;
}


//misc
.icon-email,
.icon-phone {
	width: 21px;
	height: 21px;
}


//Special

.view-details,
.addtoplan {
	width: 120px;
	height: 120px;
}


.logo-large
{

}

.logo-medium
{
	width: 265px;
	height: 60px;
	margin: 0px auto;
}

.logo-small
{

}