// Modal dialog / popups

.reveal-modal {
    padding: 0;
    margin-bottom: 100px;
    border: 0;

    &.full-screen {
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
    }

    .close-reveal-modal {
         z-index: 99;
        &:hover {
            color: $brand;
        }
    }

    .modal-header {
        font-size: $h2-size;
        text-align: center;
        background-color: $grey-f2;
        padding: 20px;
    }

    .modal-contents {
        padding: 40px;
    }

}

.reveal-modal--dark {
    background-color: $black-22;
    color: $white;

    .close-reveal-modal {
        color: $white;
    }

    .modal-header {

    }

    .modal-contents {

    }

}

@media #{$large} {

    .reveal-modal {
        width: 800px;
        margin-left: -400px;

        &.modal-small {
            width: 400px;
            margin-left: -200px;
        }

        &.modal-medium
        {
            width: 500px;
            margin-left: -230px;
        }

        &.modal-large {
            width: 1000px;
            margin-left: -500px;
        }
    }
}       



