/*------------------------------------*\
    Appplication wide colours
\*------------------------------------*/


// Chillisauce Brand Orange
$brand:     #ff7700;
$brand-alt: #df5c00;


// Range of blacks
$black:     #000000;
$black-22:  #222222;
$black-30:  #303030;
$black-33:  #333333;
$black-66:  #666666;
$black-2e:  #2E3032;


// Range of greys
$grey-4d:   #4d4d4d;
$grey-66:   #666666;
$grey-80:   #808080;
$grey-99:   #999999;
$grey-cc:   #cccccc;
$grey-e6:   #e6e6e6;
$grey-ed:   #ededed;
$grey-ee:   #eeeeee;
$grey-e0:   #e0e0e0;
$grey-be:   #BEBEBE;
$grey-f9: 	#f9f9f9;
$grey-f9d:  #9F9F9D;
$grey-f2:   #f2f2f2;
$grey-35:	#353535;
$grey-c4:   #C4C4C4;
$grey-e5:   #E5E5E5;
$grey-9e:   #9E9E9E;
$grey-D1:   #D1D1D1;
$grey-a2:   #A2A2A2;
$grey-ac:   #ACACAC;
$grey-8f:   #8F8F8F;
$grey-a0:   #A0A0A0;
$grey-f0:   #F0F0F0;
$grey-a7:   #a7a7a7;
$grey-e4:   #e4e4e4;
$grey-dd:   #dddddd;


// Misc colours
$white:     #ffffff;

$success:   #38b280;
$alert:     #ed1c24;

$cyan:      #29abe2;
$green-80: 	#38b280;
