.giga { font-size: $giga-size; }
.mega { font-size: $mega-size; }
.kilo { font-size: $kilo-size!important; }

.h1 { font-size: $h1-size; }
.h2 { font-size: $h2-size; }
.h3 { font-size: $h3-size; }
.h4 { font-size: $h4-size; }
.h5 { font-size: $h5-size; }
.h6 { font-size: $h6-size; }
.h7 { font-size: $h7-size; }
.h8 { font-size: $h8-size; }

.milli { font-size: $milli-size; }
.micro { font-size: $micro-size; }

.font-24px{ font-size: $font-24px!important; }
.font-30px{ font-size: $font-30px!important; }
.font-32px{ font-size: $font-32px!important; }
.em-size-2{ font-size: $em-size-2!important;}
.em-size-3{ font-size: $em-size-3!important;}