// Table helper classes

.table {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
    position: relative;
}


.table-cell {
    display: table-cell;
    vertical-align: top;
    position: relative;
}


