
$max-width: 510px;
$height: 540px;

.category-details-wrapper
{
	padding: 26px 40px 40px 40px;
	z-index:7;
	
	.name
	{
		margin: 14px 0px 25px 0px;
		font-weight: bold;
	}

	.description
	{
		overflow: hidden;
	}
}

