// Flexslider overide styles

.flexslider {
	background: none;
	border: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0;
}


.flex-direction-nav a {
	color: $white;
}


/* Control Nav */
.flex-control-nav {

	bottom: 0px;
}

.flex-control-paging li a {
	width: 15px;
	height: 15px;
	background: $white;
	background: rgba(255,255,255,0.75);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

.flex-control-paging li a:hover {
	background: $white;
	background: rgba(255,255,255,1);
}

.flex-control-paging li a.flex-active {
	background: none;
	border: 1px solid $white;
}