.group-popup-wrapper
{
	position: absolute;
	padding: 20px;
	left: -95px;
	top: 35px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    width: 210px;
}
.group-popup
{

}