// Strips

.strip {
    position: relative;
	width: 100%;
	max-width: 100%;
}

// .strip--white {
// 	background-color: $white;
// }

// .strip--black-22 {
// 	background-color: $black-22;
// 	color: $white;
// }